

QWidget{
	color: white;
	background-color: rgb(35, 35, 35);
	border: none;
}

QScrollBar{
	width: 10px;

	background-color: transparent;
}

QScrollBar::handle{
	border: none;

	background-color: rgb(50, 50, 50);
}

QScrollBar::handle::pressed{
	border: none;

	background-color: rgb(70, 70, 70);
}

QScrollBar::add-line{
	border: none;
	background: none;
}

QScrollBar::sub-line{
	border: none;
	background: none;
}

