

*{
	font-family: Dosis SemiBold;
	font-size: 14px;

	color: white;
	background-color: rgb(100, 100, 100);

	border: none;
	border-radius: 4px;
}


:hover{
	background-color: rgb(120, 120, 120);
}


:disabled{
	background-color: rgb(70, 70, 70);
}

